* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

#player-board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

#computer-board {
  display: flex;
  flex-direction: column;
}

#ship-selector {
  display: flex;
  flex-direction: column;
}

.gameboard-cell {
  border: 1px solid black;
  padding: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ship {
  border: 1px solid blue;
  background-color: rgba(0, 0, 255, 0.05);
}

.hit {
  content: '\d7';
  border: 1px solid red;
  color: red;
}

.miss {
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
}
